:root {
  --mri-font-size-1: 40px;
  --mri-font-size-2: 28px;
  --mri-font-size-3: 20px;
  --mri-font-size-4: 16px;
  --mri-font-size-5: 14px;
  --mri-font-size-6: 12px;
  --mri-font-size-7: 10px;

  --mri-font-family-sans: "Aptos", "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  --mri-font-family-mono: "Monaspace Neon", Consolas, Menlo, "Courier New", Courier, monospace;
  /* smaller font size optically aligns the x-height of Monaspace Neon and Aptos */
  --mri-font-family-mono-scale: 0.9em;

  --mri-font-weight-regular: 400;
  --mri-font-weight-bold: 600;

  --mri-border-radius-small: 4px;
  --mri-border-radius-medium: 8px;
  --mri-border-radius-large: 12px;
  --mri-border-radius-xlarge: 16px;
  --mri-border-radius-circular: 10000px;

  --mri-duration-rest: 100ms;
  --mri-duration-hover: 150ms;
  --mri-duration-hover: 50ms;

  --mri-color-shadow-ambient: rgba(0, 0, 0, 0.24);
  --mri-color-shadow-key: rgba(0, 0, 0, 0.28);

  --mri-shadow-2: 0 0 2px var(--mri-color-shadow-ambient), 0 1px 2px var(--mri-color-shadow-key);
  --mri-shadow-4: 0 0 2px var(--mri-color-shadow-ambient), 0 2px 4px var(--mri-color-shadow-key);
  --mri-shadow-8: 0 0 2px var(--mri-color-shadow-ambient), 0 4px 8px var(--mri-color-shadow-key);
  --mri-shadow-16: 0 0 2px var(--mri-color-shadow-ambient), 0 8px 16px var(--mri-color-shadow-key);
  --mri-shadow-28: 0 0 8px var(--mri-color-shadow-ambient), 0 14px 28px var(--mri-color-shadow-key);
  --mri-shadow-64: 0 0 8px var(--mri-color-shadow-ambient), 0 32px 64px var(--mri-color-shadow-key);

  --mri-color-background-overlay: rgba(0, 0, 0, 0.5);

  --mri-opacity-disabled: 0.5;
}

.mri-size-small {
  --mri-size-height: 24px;
  --mri-size-font: var(--mri-font-size-6);
  --mri-size-padding: 8px;
  --mri-size-icon: 12px;
}
:root,
.mri-size-medium {
  --mri-size-height: 32px;
  --mri-size-font: var(--mri-font-size-5);
  --mri-size-padding: 12px;
  --mri-size-icon: 16px;
}
.mri-size-large {
  --mri-size-height: 40px;
  --mri-size-font: var(--mri-font-size-4);
  --mri-size-padding: 16px;
  --mri-size-icon: 20px;
}

.mri-shape-square {
  --mri-border-radius: var(--mri-border-radius-small);
}
:root,
.mri-shape-rounded {
  --mri-border-radius: var(--mri-border-radius-medium);
}
.mri-shape-circular {
  --mri-border-radius: var(--mri-border-radius-circular);
}

:root, /*default*/
.dark, /*tailwind*/
.mri-theme-dark {
  color-scheme: dark;

  --mri-color-background-1: #1f1f1f;
  --mri-color-background-2: #141414;
  --mri-color-background-3: #0a0a0a;
  --mri-color-background-4: #000000;

  --mri-color-border-1: #666666;
  --mri-color-border-2: var(--mri-color-background-3);

  --mri-color-text-1: #ffffff;
  --mri-color-text-2: #d6d6d6;
  --mri-color-text-3: #999999;
  --mri-color-text-4: #5c5c5c;

  --mri-color-brand-base: #005E8B;
  --mri-color-on-brand-text: #FFFFFF;
  --mri-color-brand-text: #0090d3;

  &,
  .mri-appearance-outline {
    --mri-interactive-rest: var(--mri-color-background-1);
    --mri-interactive-hover: oklch(from var(--mri-interactive-rest) calc(l * 0.8) c h);
    --mri-interactive-pressed: oklch(from var(--mri-interactive-rest) calc(l * 0.65) c h);
  }
  .mri-appearance-primary {
    --mri-interactive-rest: var(--mri-color-brand-base);
    --mri-interactive-hover: oklch(from var(--mri-color-brand-base) calc(l * 0.85) c h);
    --mri-interactive-pressed: oklch(from var(--mri-color-brand-base) calc(l * 0.7) c h);
  }
  .mri-appearance-subtle {
    --mri-interactive-rest: var(--mri-color-background-2);
  }
  .mri-appearance-transparent {
    --mri-interactive-rest: transparent;
  }
}

.light, /*tailwind*/
.mri-theme-light {
  color-scheme: light;

  --mri-color-background-1: lch(100% 0 0); /* white */
  --mri-color-background-2: #f5f5f5;
  --mri-color-background-3: #f0f0f0;
  --mri-color-background-4: #e6e6e6;

  --mri-color-border-1: #d1d1d1;
  --mri-color-border-2: var(--mri-color-background-3);

  --mri-color-text-1: #000000;
  --mri-color-text-2: #424242;
  --mri-color-text-3: #707070;
  --mri-color-text-4: #bdbdbd;

  --mri-color-brand-base: #007BB4;
  --mri-color-on-brand-text: #FFFFFF;
  --mri-color-brand-text: #007BB4;

  &,
  .mri-appearance-outline {
    --mri-interactive-rest: var(--mri-color-background-1);
    --mri-interactive-hover: oklch(from var(--mri-color-background-1) calc(l * 0.92) c h);
    --mri-interactive-pressed: oklch(from var(--mri-color-background-1) calc(l * 0.88) c h);
  }
  .mri-appearance-primary {
    --mri-interactive-rest: var(--mri-color-brand-base);
    --mri-interactive-hover: oklch(from var(--mri-color-brand-base) calc(l * 0.85) c h);
    --mri-interactive-pressed: oklch(from var(--mri-color-brand-base) calc(l * 0.7) c h);
  }
  .mri-appearance-subtle {
    --mri-interactive-rest: var(--mri-color-background-2);
  }
  .mri-appearance-transparent {
    --mri-interactive-rest: transparent;
  }
}
