@theme {
  --color-red-50: oklch(from var(--red) var(--l-50) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * -1) + h));
  --color-red-100: oklch(from var(--red) var(--l-100) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * -0.8) + h));
  --color-red-200: oklch(from var(--red) var(--l-200) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * -0.6) + h));
  --color-red-300: oklch(from var(--red) var(--l-300) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * -0.4) + h));
  --color-red-400: oklch(from var(--red) var(--l-400) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * -0.2) + h));
  --color-red-500: oklch(from var(--red) var(--l-500) calc((var(--c-x) * 0 / 500) + c) calc((var(--h-x) * 0) + h));
  --color-red-600: oklch(from var(--red) var(--l-600) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * 0.2) + h));
  --color-red-700: oklch(from var(--red) var(--l-700) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * 0.4) + h));
  --color-red-800: oklch(from var(--red) var(--l-800) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * 0.6) + h));
  --color-red-900: oklch(from var(--red) var(--l-900) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * 0.8) + h));
  --color-red-950: oklch(from var(--red) var(--l-950) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * 1) + h));

  --color-orange-50: oklch(from var(--orange) var(--l-50) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * -1) + h));
  --color-orange-100: oklch(from var(--orange) var(--l-100) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * -0.8) + h));
  --color-orange-200: oklch(from var(--orange) var(--l-200) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * -0.6) + h));
  --color-orange-300: oklch(from var(--orange) var(--l-300) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * -0.4) + h));
  --color-orange-400: oklch(from var(--orange) var(--l-400) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * -0.2) + h));
  --color-orange-500: oklch(from var(--orange) var(--l-500) calc((var(--c-x) * 0 / 500) + c) calc((var(--h-x) * 0) + h));
  --color-orange-600: oklch(from var(--orange) var(--l-600) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * 0.2) + h));
  --color-orange-700: oklch(from var(--orange) var(--l-700) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * 0.4) + h));
  --color-orange-800: oklch(from var(--orange) var(--l-800) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * 0.6) + h));
  --color-orange-900: oklch(from var(--orange) var(--l-900) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * 0.8) + h));
  --color-orange-950: oklch(from var(--orange) var(--l-950) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * 1) + h));

  --color-amber-50: oklch(from var(--amber) var(--l-50) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * -1) + h));
  --color-amber-100: oklch(from var(--amber) var(--l-100) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * -0.8) + h));
  --color-amber-200: oklch(from var(--amber) var(--l-200) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * -0.6) + h));
  --color-amber-300: oklch(from var(--amber) var(--l-300) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * -0.4) + h));
  --color-amber-400: oklch(from var(--amber) var(--l-400) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * -0.2) + h));
  --color-amber-500: oklch(from var(--amber) var(--l-500) calc((var(--c-x) * 0 / 500) + c) calc((var(--h-x) * 0) + h));
  --color-amber-600: oklch(from var(--amber) var(--l-600) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * 0.2) + h));
  --color-amber-700: oklch(from var(--amber) var(--l-700) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * 0.4) + h));
  --color-amber-800: oklch(from var(--amber) var(--l-800) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * 0.6) + h));
  --color-amber-900: oklch(from var(--amber) var(--l-900) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * 0.8) + h));
  --color-amber-950: oklch(from var(--amber) var(--l-950) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * 1) + h));

  --color-yellow-50: oklch(from var(--yellow) var(--l-50) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * -1) + h));
  --color-yellow-100: oklch(from var(--yellow) var(--l-100) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * -0.8) + h));
  --color-yellow-200: oklch(from var(--yellow) var(--l-200) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * -0.6) + h));
  --color-yellow-300: oklch(from var(--yellow) var(--l-300) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * -0.4) + h));
  --color-yellow-400: oklch(from var(--yellow) var(--l-400) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * -0.2) + h));
  --color-yellow-500: oklch(from var(--yellow) var(--l-500) calc((var(--c-x) * 0 / 500) + c) calc((var(--h-x) * 0) + h));
  --color-yellow-600: oklch(from var(--yellow) var(--l-600) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * 0.2) + h));
  --color-yellow-700: oklch(from var(--yellow) var(--l-700) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * 0.4) + h));
  --color-yellow-800: oklch(from var(--yellow) var(--l-800) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * 0.6) + h));
  --color-yellow-900: oklch(from var(--yellow) var(--l-900) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * 0.8) + h));
  --color-yellow-950: oklch(from var(--yellow) var(--l-950) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * 1) + h));

  --color-lime-50: oklch(from var(--lime) var(--l-50) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * -1) + h));
  --color-lime-100: oklch(from var(--lime) var(--l-100) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * -0.8) + h));
  --color-lime-200: oklch(from var(--lime) var(--l-200) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * -0.6) + h));
  --color-lime-300: oklch(from var(--lime) var(--l-300) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * -0.4) + h));
  --color-lime-400: oklch(from var(--lime) var(--l-400) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * -0.2) + h));
  --color-lime-500: oklch(from var(--lime) var(--l-500) calc((var(--c-x) * 0 / 500) + c) calc((var(--h-x) * 0) + h));
  --color-lime-600: oklch(from var(--lime) var(--l-600) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * 0.2) + h));
  --color-lime-700: oklch(from var(--lime) var(--l-700) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * 0.4) + h));
  --color-lime-800: oklch(from var(--lime) var(--l-800) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * 0.6) + h));
  --color-lime-900: oklch(from var(--lime) var(--l-900) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * 0.8) + h));
  --color-lime-950: oklch(from var(--lime) var(--l-950) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * 1) + h));

  --color-green-50: oklch(from var(--green) var(--l-50) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * -1) + h));
  --color-green-100: oklch(from var(--green) var(--l-100) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * -0.8) + h));
  --color-green-200: oklch(from var(--green) var(--l-200) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * -0.6) + h));
  --color-green-300: oklch(from var(--green) var(--l-300) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * -0.4) + h));
  --color-green-400: oklch(from var(--green) var(--l-400) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * -0.2) + h));
  --color-green-500: oklch(from var(--green) var(--l-500) calc((var(--c-x) * 0 / 500) + c) calc((var(--h-x) * 0) + h));
  --color-green-600: oklch(from var(--green) var(--l-600) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * 0.2) + h));
  --color-green-700: oklch(from var(--green) var(--l-700) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * 0.4) + h));
  --color-green-800: oklch(from var(--green) var(--l-800) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * 0.6) + h));
  --color-green-900: oklch(from var(--green) var(--l-900) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * 0.8) + h));
  --color-green-950: oklch(from var(--green) var(--l-950) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * 1) + h));

  --color-emerald-50: oklch(from var(--emerald) var(--l-50) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * -1) + h));
  --color-emerald-100: oklch(from var(--emerald) var(--l-100) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * -0.8) + h));
  --color-emerald-200: oklch(from var(--emerald) var(--l-200) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * -0.6) + h));
  --color-emerald-300: oklch(from var(--emerald) var(--l-300) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * -0.4) + h));
  --color-emerald-400: oklch(from var(--emerald) var(--l-400) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * -0.2) + h));
  --color-emerald-500: oklch(from var(--emerald) var(--l-500) calc((var(--c-x) * 0 / 500) + c) calc((var(--h-x) * 0) + h));
  --color-emerald-600: oklch(from var(--emerald) var(--l-600) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * 0.2) + h));
  --color-emerald-700: oklch(from var(--emerald) var(--l-700) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * 0.4) + h));
  --color-emerald-800: oklch(from var(--emerald) var(--l-800) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * 0.6) + h));
  --color-emerald-900: oklch(from var(--emerald) var(--l-900) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * 0.8) + h));
  --color-emerald-950: oklch(from var(--emerald) var(--l-950) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * 1) + h));

  --color-teal-50: oklch(from var(--teal) var(--l-50) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * -1) + h));
  --color-teal-100: oklch(from var(--teal) var(--l-100) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * -0.8) + h));
  --color-teal-200: oklch(from var(--teal) var(--l-200) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * -0.6) + h));
  --color-teal-300: oklch(from var(--teal) var(--l-300) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * -0.4) + h));
  --color-teal-400: oklch(from var(--teal) var(--l-400) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * -0.2) + h));
  --color-teal-500: oklch(from var(--teal) var(--l-500) calc((var(--c-x) * 0 / 500) + c) calc((var(--h-x) * 0) + h));
  --color-teal-600: oklch(from var(--teal) var(--l-600) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * 0.2) + h));
  --color-teal-700: oklch(from var(--teal) var(--l-700) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * 0.4) + h));
  --color-teal-800: oklch(from var(--teal) var(--l-800) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * 0.6) + h));
  --color-teal-900: oklch(from var(--teal) var(--l-900) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * 0.8) + h));
  --color-teal-950: oklch(from var(--teal) var(--l-950) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * 1) + h));

  --color-cyan-50: oklch(from var(--cyan) var(--l-50) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * -1) + h));
  --color-cyan-100: oklch(from var(--cyan) var(--l-100) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * -0.8) + h));
  --color-cyan-200: oklch(from var(--cyan) var(--l-200) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * -0.6) + h));
  --color-cyan-300: oklch(from var(--cyan) var(--l-300) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * -0.4) + h));
  --color-cyan-400: oklch(from var(--cyan) var(--l-400) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * -0.2) + h));
  --color-cyan-500: oklch(from var(--cyan) var(--l-500) calc((var(--c-x) * 0 / 500) + c) calc((var(--h-x) * 0) + h));
  --color-cyan-600: oklch(from var(--cyan) var(--l-600) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * 0.2) + h));
  --color-cyan-700: oklch(from var(--cyan) var(--l-700) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * 0.4) + h));
  --color-cyan-800: oklch(from var(--cyan) var(--l-800) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * 0.6) + h));
  --color-cyan-900: oklch(from var(--cyan) var(--l-900) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * 0.8) + h));
  --color-cyan-950: oklch(from var(--cyan) var(--l-950) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * 1) + h));

  --color-sky-50: oklch(from var(--sky) var(--l-50) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * -1) + h));
  --color-sky-100: oklch(from var(--sky) var(--l-100) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * -0.8) + h));
  --color-sky-200: oklch(from var(--sky) var(--l-200) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * -0.6) + h));
  --color-sky-300: oklch(from var(--sky) var(--l-300) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * -0.4) + h));
  --color-sky-400: oklch(from var(--sky) var(--l-400) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * -0.2) + h));
  --color-sky-500: oklch(from var(--sky) var(--l-500) calc((var(--c-x) * 0 / 500) + c) calc((var(--h-x) * 0) + h));
  --color-sky-600: oklch(from var(--sky) var(--l-600) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * 0.2) + h));
  --color-sky-700: oklch(from var(--sky) var(--l-700) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * 0.4) + h));
  --color-sky-800: oklch(from var(--sky) var(--l-800) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * 0.6) + h));
  --color-sky-900: oklch(from var(--sky) var(--l-900) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * 0.8) + h));
  --color-sky-950: oklch(from var(--sky) var(--l-950) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * 1) + h));

  --color-blue-50: oklch(from var(--blue) var(--l-50) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * -1) + h));
  --color-blue-100: oklch(from var(--blue) var(--l-100) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * -0.8) + h));
  --color-blue-200: oklch(from var(--blue) var(--l-200) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * -0.6) + h));
  --color-blue-300: oklch(from var(--blue) var(--l-300) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * -0.4) + h));
  --color-blue-400: oklch(from var(--blue) var(--l-400) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * -0.2) + h));
  --color-blue-500: oklch(from var(--blue) var(--l-500) calc((var(--c-x) * 0 / 500) + c) calc((var(--h-x) * 0) + h));
  --color-blue-600: oklch(from var(--blue) var(--l-600) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * 0.2) + h));
  --color-blue-700: oklch(from var(--blue) var(--l-700) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * 0.4) + h));
  --color-blue-800: oklch(from var(--blue) var(--l-800) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * 0.6) + h));
  --color-blue-900: oklch(from var(--blue) var(--l-900) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * 0.8) + h));
  --color-blue-950: oklch(from var(--blue) var(--l-950) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * 1) + h));

  --color-indigo-50: oklch(from var(--indigo) var(--l-50) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * -1) + h));
  --color-indigo-100: oklch(from var(--indigo) var(--l-100) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * -0.8) + h));
  --color-indigo-200: oklch(from var(--indigo) var(--l-200) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * -0.6) + h));
  --color-indigo-300: oklch(from var(--indigo) var(--l-300) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * -0.4) + h));
  --color-indigo-400: oklch(from var(--indigo) var(--l-400) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * -0.2) + h));
  --color-indigo-500: oklch(from var(--indigo) var(--l-500) calc((var(--c-x) * 0 / 500) + c) calc((var(--h-x) * 0) + h));
  --color-indigo-600: oklch(from var(--indigo) var(--l-600) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * 0.2) + h));
  --color-indigo-700: oklch(from var(--indigo) var(--l-700) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * 0.4) + h));
  --color-indigo-800: oklch(from var(--indigo) var(--l-800) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * 0.6) + h));
  --color-indigo-900: oklch(from var(--indigo) var(--l-900) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * 0.8) + h));
  --color-indigo-950: oklch(from var(--indigo) var(--l-950) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * 1) + h));

  --color-violet-50: oklch(from var(--violet) var(--l-50) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * -1) + h));
  --color-violet-100: oklch(from var(--violet) var(--l-100) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * -0.8) + h));
  --color-violet-200: oklch(from var(--violet) var(--l-200) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * -0.6) + h));
  --color-violet-300: oklch(from var(--violet) var(--l-300) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * -0.4) + h));
  --color-violet-400: oklch(from var(--violet) var(--l-400) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * -0.2) + h));
  --color-violet-500: oklch(from var(--violet) var(--l-500) calc((var(--c-x) * 0 / 500) + c) calc((var(--h-x) * 0) + h));
  --color-violet-600: oklch(from var(--violet) var(--l-600) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * 0.2) + h));
  --color-violet-700: oklch(from var(--violet) var(--l-700) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * 0.4) + h));
  --color-violet-800: oklch(from var(--violet) var(--l-800) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * 0.6) + h));
  --color-violet-900: oklch(from var(--violet) var(--l-900) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * 0.8) + h));
  --color-violet-950: oklch(from var(--violet) var(--l-950) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * 1) + h));

  --color-purple-50: oklch(from var(--purple) var(--l-50) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * -1) + h));
  --color-purple-100: oklch(from var(--purple) var(--l-100) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * -0.8) + h));
  --color-purple-200: oklch(from var(--purple) var(--l-200) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * -0.6) + h));
  --color-purple-300: oklch(from var(--purple) var(--l-300) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * -0.4) + h));
  --color-purple-400: oklch(from var(--purple) var(--l-400) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * -0.2) + h));
  --color-purple-500: oklch(from var(--purple) var(--l-500) calc((var(--c-x) * 0 / 500) + c) calc((var(--h-x) * 0) + h));
  --color-purple-600: oklch(from var(--purple) var(--l-600) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * 0.2) + h));
  --color-purple-700: oklch(from var(--purple) var(--l-700) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * 0.4) + h));
  --color-purple-800: oklch(from var(--purple) var(--l-800) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * 0.6) + h));
  --color-purple-900: oklch(from var(--purple) var(--l-900) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * 0.8) + h));
  --color-purple-950: oklch(from var(--purple) var(--l-950) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * 1) + h));

  --color-fuchsia-50: oklch(from var(--fuchsia) var(--l-50) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * -1) + h));
  --color-fuchsia-100: oklch(from var(--fuchsia) var(--l-100) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * -0.8) + h));
  --color-fuchsia-200: oklch(from var(--fuchsia) var(--l-200) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * -0.6) + h));
  --color-fuchsia-300: oklch(from var(--fuchsia) var(--l-300) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * -0.4) + h));
  --color-fuchsia-400: oklch(from var(--fuchsia) var(--l-400) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * -0.2) + h));
  --color-fuchsia-500: oklch(from var(--fuchsia) var(--l-500) calc((var(--c-x) * 0 / 500) + c) calc((var(--h-x) * 0) + h));
  --color-fuchsia-600: oklch(from var(--fuchsia) var(--l-600) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * 0.2) + h));
  --color-fuchsia-700: oklch(from var(--fuchsia) var(--l-700) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * 0.4) + h));
  --color-fuchsia-800: oklch(from var(--fuchsia) var(--l-800) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * 0.6) + h));
  --color-fuchsia-900: oklch(from var(--fuchsia) var(--l-900) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * 0.8) + h));
  --color-fuchsia-950: oklch(from var(--fuchsia) var(--l-950) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * 1) + h));

  --color-pink-50: oklch(from var(--pink) var(--l-50) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * -1) + h));
  --color-pink-100: oklch(from var(--pink) var(--l-100) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * -0.8) + h));
  --color-pink-200: oklch(from var(--pink) var(--l-200) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * -0.6) + h));
  --color-pink-300: oklch(from var(--pink) var(--l-300) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * -0.4) + h));
  --color-pink-400: oklch(from var(--pink) var(--l-400) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * -0.2) + h));
  --color-pink-500: oklch(from var(--pink) var(--l-500) calc((var(--c-x) * 0 / 500) + c) calc((var(--h-x) * 0) + h));
  --color-pink-600: oklch(from var(--pink) var(--l-600) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * 0.2) + h));
  --color-pink-700: oklch(from var(--pink) var(--l-700) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * 0.4) + h));
  --color-pink-800: oklch(from var(--pink) var(--l-800) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * 0.6) + h));
  --color-pink-900: oklch(from var(--pink) var(--l-900) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * 0.8) + h));
  --color-pink-950: oklch(from var(--pink) var(--l-950) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * 1) + h));

  --color-rose-50: oklch(from var(--rose) var(--l-50) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * -1) + h));
  --color-rose-100: oklch(from var(--rose) var(--l-100) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * -0.8) + h));
  --color-rose-200: oklch(from var(--rose) var(--l-200) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * -0.6) + h));
  --color-rose-300: oklch(from var(--rose) var(--l-300) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * -0.4) + h));
  --color-rose-400: oklch(from var(--rose) var(--l-400) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * -0.2) + h));
  --color-rose-500: oklch(from var(--rose) var(--l-500) calc((var(--c-x) * 0 / 500) + c) calc((var(--h-x) * 0) + h));
  --color-rose-600: oklch(from var(--rose) var(--l-600) calc((var(--c-x) * -0.2 / 500) + c) calc((var(--h-x) * 0.2) + h));
  --color-rose-700: oklch(from var(--rose) var(--l-700) calc((var(--c-x) * -0.4 / 500) + c) calc((var(--h-x) * 0.4) + h));
  --color-rose-800: oklch(from var(--rose) var(--l-800) calc((var(--c-x) * -0.6 / 500) + c) calc((var(--h-x) * 0.6) + h));
  --color-rose-900: oklch(from var(--rose) var(--l-900) calc((var(--c-x) * -0.8 / 500) + c) calc((var(--h-x) * 0.8) + h));
  --color-rose-950: oklch(from var(--rose) var(--l-950) calc((var(--c-x) * -1 / 500) + c) calc((var(--h-x) * 1) + h));

  --color-slate-50: oklch(from var(--slate) var(--l-50) c h);
  --color-slate-100: oklch(from var(--slate) var(--l-100) c h);
  --color-slate-200: oklch(from var(--slate) var(--l-200) c h);
  --color-slate-300: oklch(from var(--slate) var(--l-300) c h);
  --color-slate-400: oklch(from var(--slate) var(--l-400) c h);
  --color-slate-500: oklch(from var(--slate) var(--l-500) c h);
  --color-slate-600: oklch(from var(--slate) var(--l-600) c h);
  --color-slate-700: oklch(from var(--slate) var(--l-700) c h);
  --color-slate-800: oklch(from var(--slate) var(--l-800) c h);
  --color-slate-900: oklch(from var(--slate) var(--l-900) c h);
  --color-slate-950: oklch(from var(--slate) var(--l-950) c h);

  --color-gray-50: oklch(from var(--gray) var(--l-50) c h);
  --color-gray-100: oklch(from var(--gray) var(--l-100) c h);
  --color-gray-200: oklch(from var(--gray) var(--l-200) c h);
  --color-gray-300: oklch(from var(--gray) var(--l-300) c h);
  --color-gray-400: oklch(from var(--gray) var(--l-400) c h);
  --color-gray-500: oklch(from var(--gray) var(--l-500) c h);
  --color-gray-600: oklch(from var(--gray) var(--l-600) c h);
  --color-gray-700: oklch(from var(--gray) var(--l-700) c h);
  --color-gray-800: oklch(from var(--gray) var(--l-800) c h);
  --color-gray-900: oklch(from var(--gray) var(--l-900) c h);
  --color-gray-950: oklch(from var(--gray) var(--l-950) c h);

  --color-zinc-50: oklch(from var(--zinc) var(--l-50) c h);
  --color-zinc-100: oklch(from var(--zinc) var(--l-100) c h);
  --color-zinc-200: oklch(from var(--zinc) var(--l-200) c h);
  --color-zinc-300: oklch(from var(--zinc) var(--l-300) c h);
  --color-zinc-400: oklch(from var(--zinc) var(--l-400) c h);
  --color-zinc-500: oklch(from var(--zinc) var(--l-500) c h);
  --color-zinc-600: oklch(from var(--zinc) var(--l-600) c h);
  --color-zinc-700: oklch(from var(--zinc) var(--l-700) c h);
  --color-zinc-800: oklch(from var(--zinc) var(--l-800) c h);
  --color-zinc-900: oklch(from var(--zinc) var(--l-900) c h);
  --color-zinc-950: oklch(from var(--zinc) var(--l-950) c h);

  --color-neutral-50: oklch(from var(--neutral) var(--l-50) c h);
  --color-neutral-100: oklch(from var(--neutral) var(--l-100) c h);
  --color-neutral-200: oklch(from var(--neutral) var(--l-200) c h);
  --color-neutral-300: oklch(from var(--neutral) var(--l-300) c h);
  --color-neutral-400: oklch(from var(--neutral) var(--l-400) c h);
  --color-neutral-500: oklch(from var(--neutral) var(--l-500) c h);
  --color-neutral-600: oklch(from var(--neutral) var(--l-600) c h);
  --color-neutral-700: oklch(from var(--neutral) var(--l-700) c h);
  --color-neutral-800: oklch(from var(--neutral) var(--l-800) c h);
  --color-neutral-900: oklch(from var(--neutral) var(--l-900) c h);
  --color-neutral-950: oklch(from var(--neutral) var(--l-950) c h);

  --color-stone-50: oklch(from var(--stone) var(--l-50) c h);
  --color-stone-100: oklch(from var(--stone) var(--l-100) c h);
  --color-stone-200: oklch(from var(--stone) var(--l-200) c h);
  --color-stone-300: oklch(from var(--stone) var(--l-300) c h);
  --color-stone-400: oklch(from var(--stone) var(--l-400) c h);
  --color-stone-500: oklch(from var(--stone) var(--l-500) c h);
  --color-stone-600: oklch(from var(--stone) var(--l-600) c h);
  --color-stone-700: oklch(from var(--stone) var(--l-700) c h);
  --color-stone-800: oklch(from var(--stone) var(--l-800) c h);
  --color-stone-900: oklch(from var(--stone) var(--l-900) c h);
  --color-stone-950: oklch(from var(--stone) var(--l-950) c h);

}