details {
  --_duration-open: 0.2s;
  --_duration-close: 0.07s;

  --_size-marker: var(--h-icon);

  summary {
    display: flex;
    align-items: center;
    gap: 8px;

    cursor: pointer;

    &::marker {
      content: "";
    }

    list-style: none;
    &:before {
      content: var(--icon-chevron-down);
      height: var(--_size-marker);
      width: var(--_size-marker);
      display: inline-block;
      transform: rotate(-90deg);
      transform-origin: center;
      transition: transform var(--_duration-open) ease-in-out;
    }
    
    .marker-end &,
    &.marker-end {
      justify-content: space-between;
      &:before {
        order: 99;
        transform: rotate(90deg);
      }
    }
  }

  &[open] {
    summary {
      &:before {
        transform: rotate(0deg);
      }
    }
  }

  &::details-content {
    opacity: 0.2;
    transform: translateY(-4px);
    transition-property: opacity, transform, content-visibility, max-height;
    transition-duration: var(--_duration-close);
    transition-timing-function: ease-out;
    transition-behavior: allow-discrete;
  }

  &[open]::details-content {
    opacity: 1;
    transform: translateY(0);
    transition-duration: var(--_duration-open);
    transition-timing-function: ease-in;
  }
}
