.btn-group {
  display: flex;
  gap: 1px;

  & > :not(:first-child):not(:last-child) {
    border-radius: 0;
  }

  & > :first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  & > :last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  /* applies to button.css and input.css */
  /* buttons and inputs with outline should share border rather than have a gap */
  &:not([class*="type-"]),
  &.type-default,
  &.type-outline {
    & > :not(:first-child) {
      margin-left: -2px;
    }
  }
}
