button:where(:not(.mri-tab)),
input[type="button"],
input[type="submit"],
input[type="reset"],
a.mri-button,
select.mri-button,
.mri-button,
::-webkit-file-upload-button {
  cursor: pointer;
  appearance: none;
  line-height: 1;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  /* default circular */
  --_border-radius: var(--mri-border-radius-circular);

  [class*="mri-shape-"] &,
  &[class*="mri-shape-"] {
    --_border-radius: var(--mri-border-radius);
  }

  border-radius: var(--_border-radius, var(--mri-border-radius));

  font-weight: var(--mri-font-weight-bold);
  font-size: var(--mri-size-font);
  color: var(--mri-color-text-1);
  min-height: var(--mri-size-height);
  padding: 0 var(--mri-size-padding);

  background-color: var(--mri-interactive-rest);
  transition: background-color var(--mri-duration-rest) linear;
  transition-property: background-color, color, border-color;

  &:not(:disabled) {
    &:hover {
      background-color: var(--mri-interactive-hover);
      transition-duration: var(--mri-duration-hover);

      &.mri-appearance-transparent,
      &.mri-appearance-subtle {
        color: var(--mri-color-brand-text);
      }
    }

    &:active,
    &.mri-active {
      background-color: var(--mri-interactive-pressed);
      transition-duration: var(--mri-duration-hover);

      &.mri-appearance-transparent,
      &.mri-appearance-subtle {
        color: var(--mri-color-brand-text);
      }
    }
  }

  border: 1px solid var(--mri-color-border-1);

  .mri-input & {
    border: none;
    background-color: transparent;

    &:hover {
      background-color: var(--mri-interactive-rest);
    }

    &:active {
      background-color: var(--mri-interactive-active);
    }

    --_border-radius: var(--mri-border-radius);
  }

  &.mri-appearance-subtle,
  &.mri-appearance-primary,
  &.mri-appearance-transparent {
    border-color: transparent;
  }

  &.mri-appearance-primary {
    color: var(--mri-color-on-brand-text);
  }

  &.mri-icon-only {
    padding: 0;
    width: var(--mri-size-height);
    height: var(--mri-size-height);
  }

  .mri-menu & {
    --_border-radius: var(--mri-border-radius-small);
    border-color: transparent;
    justify-content: flex-start;
    font-weight: var(--fontWeightNormal);
  }
}

a.mri-button {
  text-decoration: none;
}

select.mri-button {
  appearance: none;
  background-image: var(--mri-icon-chevron-down);
  background-position: right var(--mri-size-padding) center;
  background-repeat: no-repeat;
  background-size: 16px;
  padding-right: calc(var(--mri-size-padding) + 16px + 4px);
}

input[type="file"] {
  &::-webkit-file-upload-button {
    font-family: inherit;
  }

  &:hover {
    &::-webkit-file-upload-button {
      background-color: var(--mri-interactive-hover);
      transition-duration: var(--mri-duration-hover);
    }
  }

  &:active {
    &::-webkit-file-upload-button {
      background-color: var(--mri-interactive-pressed);
      transition-duration: var(--mri-duration-hover);
    }
  }
}
