input[type="checkbox"]:where(:not(.mri-switch)),
input[type="radio"] {
  --_color-border: var(--mri-color-border-1);
  --_color-background: var(--mri-color-background-2);
  --_color-checked: var(--mri-color-brand-base);

  --_size-dimension: var(--mri-size-icon);

  appearance: none;
  margin: 0;
  width: var(--_size-dimension);
  height: var(--_size-dimension);

  cursor: pointer;

  border: 1px solid var(--_color-border);
  border-radius: var(--_border-radius);
  background-color: var(--_color-background);

  label & {
    vertical-align: middle;
  }

  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    inset: 2px;
    border-radius: var(--_border-radius);
    background-color: var(--_color-checked);
    opacity: 0;
  }

  &:checked {
    border-color: var(--_color-checked);
  }

  &:disabled {
    --_color-checked: var(--_color-border);
  }
}

input[type="radio"] {
  --_border-radius: var(--mri-border-radius-circular);
  &:after {
    border-radius: var(--_border-radius);
  }
  &:checked:after {
    opacity: 1;
  }
}

input[type="checkbox"]:where(:not(.mri-switch)) {
  --_border-radius: var(--mri-border-radius-small);

  &:after {
    border-radius: calc(var(--_border-radius) - 2px);
  }

  &:checked:after {
    inset: 0;
    opacity: 1;
    background-image: var(--mri-icon-check);
    background-position: center;
    background-repeat: no-repeat;
    background-size: calc(var(--_size-dimension) - 4px);
  }

  &:indeterminate {
    border-color: var(--_color-checked);
  }
  &:indeterminate:after {
    inset: 4px;
  }

  &:indeterminate:after,
  &:checked:after {
    opacity: 1;
  }
}
