dialog {
  color: inherit;

  border: 1px solid var(--color-border);
  background-color: var(--color-card);
  box-shadow: var(--shadow-lg);
  border-radius: var(--radius-lg);
  overflow: hidden;

  padding: 12px 24px;
  margin: auto;

  &:has(main, footer, header) {
    padding: 0;

    header {
      padding: 24px 24px 12px 24px;
      /* border-bottom: 1px solid var(--color-border); */

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0;
      }
    }

    main {
      padding: 12px 24px;
      /* the main content should be scrollable */
      max-height: 70vh;
      overflow-y: auto;
      /* background-color: var(--color-page); */
    }
    
    footer {
      padding: 12px 24px;
      display: flex;
      justify-content: flex-end;
      gap: 12px;
      /* border-top: 1px solid var(--color-border); */
    }
  }

  .dialog-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px;
  }

  /* Open/Close Animation */

  --_duration: 0.2s;

  &,
  &::backdrop {
    transition: opacity var(--_duration) ease-in-out, transform var(--_duration) ease-in-out,
      overlay var(--_duration) allow-discrete, display var(--_duration) allow-discrete;
    opacity: 0;
  }

  transform: scale(0.8);
  &::backdrop {
    background-color: var(--color-shadow-overlay);
  }

  &[open] {
    opacity: 1;
    transform: scale(1);
  }

  &[open]::backdrop {
    opacity: 1;
  }

  @starting-style {
    &[open] {
      opacity: 0;
      transform: scale(0.8);

      &::backdrop {
        opacity: 0;
      }
    }
  }

}
