:disabled, [disabled], .mri-disabled {
  cursor: not-allowed;
  opacity: var(--mri-opacity-disabled);

  /* this exception doesn't work for select option:disabled */
  /* label:has(&) {
    opacity: var(--mri-opacity-disabled);
  } */
  /* label:has(&) & {
    opacity: 1;
  } */
}

