:disabled, [disabled], .disabled {
  cursor: not-allowed;
  opacity: var(--opacity-disabled);

  /* this exception doesn't work for select option:disabled */
  /* label:has(&) {
    opacity: var(--opacity-disabled);
  } */
  /* label:has(&) & {
    opacity: 1;
  } */
}

