fieldset{
    border: 1px solid var(--color-border);
    border-radius: var(--rounded-default);
    padding: var(--p-default);
    margin: 0px;
}

legend {
    padding: 0 4px;
    margin: 0 -4px;
    font-size: inherit;
    font-weight: var(--font-heavyweight);
    color: var(--color-heading);
}
