fieldset{
    border: 1px solid var(--mri-color-border-1);
    border-radius: var(--mri-border-radius);
    padding: var(--mri-size-padding);
    margin: 0px;
}

legend {
    padding: 0 4px;
    margin: 0 -4px;
    font-size: inherit;
    font-weight: var(--mri-font-weight-bold);
    color: var(--mri-color-text-1);
}
