input:where(:not([type])),
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="search"],
  input[type="color"],
  input[type="url"],
  /* input[type="file"], */
  input[type="tel"],
  select:where(:not(.btn)),
  textarea,
  .input {
  &,
  &.type-default {
    --_color-background: var(--color-input);
    --_color-border: var(--color-border);
    --_color-border-bottom: var(--color-outline);
    --_color-border-focus: var(--color-brand);
  }

  font-size: var(--text-default);
  border-radius: var(--rounded-default);
  min-height: var(--h-default);
  padding: 0 var(--p-default);
  
  color: var(--color-heading);
  display: inline-flex;
  align-items: center;
  justify-content: start;

  background-color: var(--_color-background);
  border: 1px solid var(--_color-border);
  border-bottom-color: var(--_color-border-bottom);

  &::placeholder {
    color: var(--color-outline);
    opacity: 1;
  }

  --_icon-background-image: none;
  --_icon-background-position: right calc(var(--p-default) - 4px) center;
  --_icon-background-size: var(--h-icon);
  --_icon-background: var(--_icon-background-image) var(--_icon-background-position) / var(--_icon-background-size)
    no-repeat;
  --_icon-padding-right: calc(var(--h-icon) + var(--p-default));

  --_focus-underline-background-position: 50% calc(100% + 2px);
  --_focus-underline-background-size-x: 0%;
  --_focus-underline-linear-gradient: linear-gradient(
    to bottom,
    var(--_color-border-focus),
    var(--_color-border-focus)
  );
  --_focus-underline-background: var(--_focus-underline-linear-gradient) var(--_focus-underline-background-position) /
    var(--_focus-underline-background-size-x) 3px;

  background: var(--_focus-underline-background), var(--_icon-background), var(--_color-background);
  background-repeat: no-repeat;

  transition: 0.15s ease-in;
  transition-property: background-size, background-position, border-color;

  &:not(:disabled):not([readonly]):not(.disabled) {
    &:focus,
    &:has(input:focus, textarea:focus, select:focus) {
      --_focus-underline-background-size-x: 100%;
      transition-duration: 0.15s;
      transition-timing-function: ease-out;
      border-bottom-color: var(--_color-border-focus);
    }
  }
  
  &:disabled, &.disabled, &[readonly] {
    background-color: transparent;
    border-color: var(--color-border);
  }

  &.type-outline {
    --_color-background: transparent;

    &:focus {
      --_color-background: var(--color-input);
    }
  }

  &.type-subtle {
    --_color-border: transparent;
    --_color-border-bottom: transparent;
    --_color-background: var(--color-selected);
  }

  /* &.type-underline,*/
  &.type-transparent {
    --_color-background: transparent;
    --_color-border: transparent;
    padding: 2px;
    min-height: auto;
    border-radius: 1px;
  }

  &:focus {
    outline: none;
  }

  .input > & {
    appearance: none;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    flex: 1 1 auto;
    padding: 0;
    /* height: auto; */
    min-height: unset;
  }
}

.input {
  display: inline-flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
  padding: 4px;
  &:where(:has(input:first-child, textarea:first-child, select:first-child)) {
    padding-left: var(--p-default);
  }
}

input[type="number"],
input[type="date"] {
  font-family: var(--font-mono);
  /* font-size: var(--font-mono-scale); */
}

input[type="number"] {
  --_size-spin-btn-gap: 2px;
  padding-right: 0;

  &::-webkit-inner-spin-button {
    height: calc(var(--h-default) - var(--_size-spin-btn-gap));
    margin-bottom: var(--_size-spin-btn-gap);
  }
}

textarea {
  padding-block: 0.5em;
  font-family: var(--font-sans);
  outline: none;

  /* resize: vertical;
  field-sizing: content;
  width: 100%; */
}

input[type="color"] {
  padding: 0;
  height: var(--h-default);
  width: var(--h-default);

  &::-webkit-color-swatch-wrapper {
    padding: 4px;
  }

  &::-webkit-color-swatch {
    border: none;
    border-radius: calc(var(--rounded-default) - 4px);
  }
}

select:where(:not(.btn)) {
  --_icon-background-image: var(--icon-chevron-down);
  padding-right: var(--_icon-padding-right);
  appearance: none;
}

input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"] {
  cursor: text;
}

input[type="color"],
input[type="file"],
::-webkit-calendar-picker-indicator,
::-webkit-inner-spin-button,
select {
  cursor: pointer;
}

/* select placeholder - does not work */
/* select:has(option:disabled[selected]) {
  color: var(--color-outline);
} */
