input:where(:not([type])),
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="search"],
  input[type="color"],
  input[type="url"],
  /* input[type="file"], */
  input[type="tel"],
  select:where(:not(.mri-button)),
  textarea,
  .mri-input {
  font-size: var(--mri-size-font);
  color: var(--mri-color-text-1);

  --_color-background: var(--mri-color-background-2);
  --_color-border: transparent;

  display: inline-flex;
  align-items: center;
  justify-content: start;

  border-radius: var(--mri-border-radius);
  min-height: var(--mri-size-height);
  padding: 0 var(--mri-size-padding);
  background-color: var(--_color-background);
  border: 1px solid var(--_color-border);

  --_gradient-underline-focus: linear-gradient(to bottom, var(--mri-color-brand-base), var(--mri-color-brand-base));
  --_gradient-underline-hover: linear-gradient(to bottom, var(--mri-color-border-1), var(--mri-color-border-1));

  --_background-underline-focus: var(--_gradient-underline-focus) 50% 100%/0% 2px;
  --_background-underline-hover: var(--_gradient-underline-hover) 50% 100%/100% 0px;

  background: var(--_background-underline-focus), var(--_background-underline-hover), var(--_color-background);
  background-repeat: no-repeat;

  transition: 0.1s ease-in;
  transition-property: background-size, background-position, border-color;

  &:not(:disabled):not([readonly]):not(.mri-disabled) {
    &:hover {
      --_background-underline-hover: var(--_gradient-underline-hover) 50% 100%/100% 1px;
      transition-duration: 0.15s;
      transition-timing-function: ease-out;
    }

    &:focus,
    &:has(input:focus, textarea:focus, select:focus) {
      --_background-underline-focus: var(--_gradient-underline-focus) 50% 100%/100% 2px;
      transition-duration: 0.15s;
      transition-timing-function: ease-out;
      border-bottom-color: transparent;
    }
  }

  outline: transparent solid 2px;

  &.mri-appearance-outline {
    --_color-border: var(--mri-color-border-1);
  }

  .mri-input > & {
    appearance: none;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    flex: 1 1 auto;
    padding: 0;
    /* height: auto; */
    min-height: unset;
  }
}

.mri-input {
  display: inline-flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
  padding: 4px;
  &:where(:has(input:first-child, textarea:first-child, select:first-child)) {
    padding-left: var(--mri-size-padding);
  }
}

input[type="number"],
input[type="date"] {
  font-family: var(--mri-font-family-mono);
  font-size: var(--mri-font-family-mono-scale);
}

input[type="number"] {
  --_size-spin-button-gap: 2px;
  padding-right: 0;

  &::-webkit-inner-spin-button {
    height: calc(var(--mri-size-height) - var(--_size-spin-button-gap));
    margin-bottom: var(--_size-spin-button-gap);
  }
}

textarea {
  padding-block: 0.5em;
  font-family: var(--mri-font-family-sans);
  /* resize: vertical;
  field-sizing: content;
  width: 100%; */
}

input[type="color"] {
  padding: 0;
  height: var(--mri-size-height);
  width: var(--mri-size-height);

  &::-webkit-color-swatch-wrapper {
    padding: 4px;
  }

  &::-webkit-color-swatch {
    border: none;
    border-radius: calc(var(--mri-border-radius) - 4px);
  }
}

input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"] {
  cursor: text;
}

input[type="color"],
input[type="file"],
::-webkit-calendar-picker-indicator,
::-webkit-inner-spin-button,
select {
  cursor: pointer;
}
