a:where(:not(.mri-button):not(.mri-tab)) {
  color: var(--mri-color-brand-text);
  text-decoration: none;
  &:hover {
    color: oklch(from var(--mri-color-brand-text) calc(l * 0.9) c h);
    text-decoration: underline;
  }
  &:active {
    color: var(--mri-color-brand-text);
  }
}
