[popover] {
  border: 1px solid var(--mri-color-border-1);
  background-color: var(--mri-color-background-1);
  box-shadow: var(--mri-shadow-16);
  padding: 8px 12px;
  border-radius: var(--mri-border-radius);
  overflow: hidden;

  --_size-offset: 4px;
  --_margin-offset-above-below: var(--_size-offset) 0;
  --_margin-offset-before-after: 0 var(--_size-offset);

  inset: unset;
  position: absolute;
  margin: var(--_size-offset);
  /* top: calc(anchor(bottom) + 2px); */
  /* justify-self: anchor; */
}

.mri-menu {
  /* see button.css for nested button styles */

  hr {
    margin: 0;
  }

  &:popover-open {
    --_size-spacing: 4px;
    display: flex;
    flex-direction: column;
    gap: var(--_size-spacing);
    padding: var(--_size-spacing);
  }
}

[popover] {
  /* TODO?: each &.mri-position-<side> could have a more specific fallback order... */
  /* just goes clockwise for now */
  /* position-try-fallbacks: --_position-try-above-start, --_position-try-above-center, --_position-try-above-end,
    --_position-try-after-top, --_position-try-after-center, --_position-try-after-bottom, --_position-try-below-end,
    --_position-try-below-center, --_position-try-below-start, --_position-try-before-top, --_position-try-before-center  ,
    --_position-try-before-bottom; */

  &.mri-position-force {
    position-try-fallbacks: unset;
  }

  &,
  &.mri-position-above-start {
    /* default */
    position-area: var(--_position-above-start);
    margin: var(--_margin-offset-above-below);
  }
  &.mri-position-above {
    position-area: var(--_position-above-center);
    margin: var(--_margin-offset-above-below);
  }
  &.mri-position-above-end {
    position-area: var(--_position-above-end);
    margin: var(--_margin-offset-above-below);
  }

  &.mri-menu,
  &.mri-position-below-end {
    /* .mri-menu default */
    position-area: var(--_position-below-end);
    margin: var(--_margin-offset-above-below);
  }
  &.mri-position-below {
    position-area: var(--_position-below-center);
    margin: var(--_margin-offset-above-below);
  }
  &.mri-position-below-start {
    position-area: var(--_position-below-start);
    margin: var(--_margin-offset-above-below);
  }

  &.mri-position-before-top {
    position-area: var(--_position-before-top);
    margin: var(--_margin-offset-before-after);
  }
  &.mri-position-before {
    position-area: var(--_position-before-center);
    margin: var(--_margin-offset-before-after);
  }
  &.mri-position-before-bottom {
    position-area: var(--_position-before-bottom);
    margin: var(--_margin-offset-before-after);
  }

  &.mri-position-after-top {
    position-area: var(--_position-after-top);
    margin: var(--_margin-offset-before-after);
  }
  &.mri-position-after {
    position-area: var(--_position-after-center);
    margin: var(--_margin-offset-before-after);
  }
  &.mri-position-after-bottom {
    position-area: var(--_position-after-bottom);
    margin: var(--_margin-offset-before-after);
  }
}

/* [popover="auto"] {} */

/* tooltip / hint is experimental */
/* [popover="hint"] {} */

/* :popover-open {} */

/* https://react.fluentui.dev/?path=/docs/components-tooltip--docs#positioning */

:root {
  --_position-above-start: top span-right;
  --_position-above-center: top span-all;
  --_position-above-end: top span-left;

  --_position-below-start: bottom span-right;
  --_position-below-center: bottom span-all;
  --_position-below-end: bottom span-left;

  --_position-before-top: left span-bottom;
  --_position-before-center: left center;
  --_position-before-bottom: left span-top;

  --_position-after-top: right span-bottom;
  --_position-after-center: right center;
  --_position-after-bottom: right span-top;
}

@position-try --_position-try-above-start {
  position-area: var(--_position-above-start);
  margin: var(--_margin-offset-above-below);
}
@position-try --_position-try-above-center {
  position-area: var(--_position-above-center);
  margin: var(--_margin-offset-above-below);
}
@position-try --_position-try-above-end {
  position-area: var(--_position-above-end);
  margin: var(--_margin-offset-above-below);
}

@position-try --_position-try-below-start {
  position-area: var(--_position-below-start);
  margin: var(--_margin-offset-above-below);
}
@position-try --_position-try-below-center {
  position-area: var(--_position-below-center);
  margin: var(--_margin-offset-above-below);
}
@position-try --_position-try-below-end {
  position-area: var(--_position-below-end);
  margin: var(--_margin-offset-above-below);
}

@position-try --_position-try-after-top {
  position-area: var(--_position-after-top);
  margin: var(--_margin-offset-before-after);
}
@position-try --_position-try-after-center {
  position-area: var(--_position-after-center);
  margin: var(--_margin-offset-before-after);
}
@position-try --_position-try-after-bottom {
  position-area: var(--_position-after-bottom);
  margin: var(--_margin-offset-before-after);
}

@position-try --_position-try-before-top {
  position-area: var(--_position-before-top);
  margin: var(--_margin-offset-before-after);
}
@position-try --_position-try-before-center {
  position-area: var(--_position-before-center);
  margin: var(--_margin-offset-before-after);
}
@position-try --_position-try-before-bottom {
  position-area: var(--_position-before-bottom);
  margin: var(--_margin-offset-before-after);
}
