progress:where(:not(.spinner)),
meter {
  --_size-height: 2px;
  --_color-track: var(--color-border);
  --_color-value: var(--color-brand);

  appearance: none;
  width: 100%;
  height: var(--_size-height);
  border-radius: var(--rounded-defaultRound);
  background-color: var(--_color-track);
  overflow: hidden;

  &.size-sm {
    --_size-height: 1px;
  }
  &.size-md {
    --_size-height: 2px;
  }
  &.size-lg {
    --_size-height: 4px;
  }
}

progress:where(:not(.spinner)):indeterminate {
  --_color-value-transparent: oklch(from var(--_color-value) l c h / 0);

  background-image: linear-gradient(
    to right,
    var(--_color-value-transparent) 0%,
    var(--_color-value) 40%,
    var(--_color-value) 60%,
    var(--_color-value-transparent) 100%
  );
  background-size: 30% 100%;
  background-repeat: no-repeat;
  animation: --_keyframes-progress-indeterminate 4s linear infinite;

  &::-webkit-progress-value,
  &::-webkit-progress-inner-element,
  &::-webkit-progress-bar {
    background: transparent;
  }
}

::-webkit-meter-bar,
::-webkit-progress-bar {
  background: transparent;
  height: var(--_size-height);
}
::-webkit-progress-value {
  background: var(--_color-value);
}

::-webkit-meter-optimum-value {
  /* intent-success */
  background: green;
}
::-webkit-meter-suboptimum-value {
  /* intent-warning */
  background: orange;
}
::-webkit-meter-even-less-good-value {
  /* intent-danger */
  background: red;
}

/* ::-webkit-meter-bar,
::-webkit-meter-inner-element,
::-webkit-meter-even-less-good-value,
::-webkit-meter-optimum-value,
::-webkit-meter-suboptimum-value {} */

/* :indeterminate
-moz-orient
::-moz-progress-bar
::-webkit-progress-bar
::-webkit-progress-value
::-webkit-progress-inner-element {} */

@keyframes --_keyframes-progress-indeterminate {
  0% {
    background-position: -40% 0;
  }
  100% {
    background-position: 140% 0;
  }
}

@keyframes --_keyframes-progress-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
