input[type="range"] {
  --_size-thumb: 20px;
  --_size-track: 4px;

  appearance: none;
  background: transparent;
  padding: calc(var(--_size-thumb) / 2 - var(--_size-track) / 2) 0;
  margin: 0;

  &::-webkit-slider-container {
    height: var(--_size-track);
    background: var(--mri-color-border-1);
    border-radius: var(--mri-border-radius-circular);
  }

  /* &::-webkit-slider-runnable-track {} */

  /* Thumb styles */
  &::-webkit-slider-thumb {
    appearance: none;
    width: var(--_size-thumb);
    height: var(--_size-thumb);
    border: 1px solid var(--mri-color-border-1);
    border-radius: var(--mri-border-radius-circular);
    cursor: ew-resize;
    background: var(--mri-color-brand-base);
    box-shadow: inset 0 0 0 3px var(--mri-color-background-1);
  }
}
