input[type="checkbox"].mri-switch {

  --_color-background: var(--mri-color-background-2);
  --_color-border: var(--mri-color-border-1);
  --_color-checked: var(--mri-color-brand-base);
  
  --_size-thumb: var(--mri-size-icon);
  --_size-offset: 2px;
  --_size-dimension: calc(var(--_size-thumb) + (var(--_size-offset) * 2) + 2px);

  border: 1px solid var(--mri-color-border-1);
  background-color: var(--_color-background);
  border-radius: var(--mri-border-radius-circular);

  appearance: none;
  position: relative;
  margin: 0;

  cursor: pointer;

  height: var(--_size-dimension);
  width: calc(var(--_size-dimension) * 2);

  label & {
    vertical-align: middle;
  }

  &:after {
    content: "";
    display: block;
    height: var(--_size-thumb);
    width:  var(--_size-thumb);
    border-radius: var(--mri-border-radius-circular);
    background-color: var(--mri-color-border-1);

    position: absolute;
    top: var(--_size-offset);
    left: var(--_size-offset);
    /* margin: var(--sizeOffset); */

    transition: 0.1s ease-in-out;
    transition-property: inset, background-color;
    
  }

  &:checked {
    background-color: var(--_color-checked);
    border-color: var(--_color-checked);
    &:after {
      left: calc(100% - var(--_size-thumb) - var(--_size-offset));
      background-color: var(--_color-background);
    }
  }

  &:disabled {
    --_color-checked: var(--_color-border);
  }
}



