
table {
  --_border-radius: var(--radius-md);
  --_color-border: var(--color-border);
  --_color-background: var(--color-background);

  /* these are !important because LLMs will frequently try to override them */
  border-collapse: separate !important;
  border-spacing: 0 !important;

  border-radius: var(--_border-radius);
  /* border: solid 1px var(--_color-border); */
  background-color: var(--_color-background);
  width: 100%;
}

th,
td {
  text-align: left;
  border-bottom: solid 1px var(--color-border);
  padding: var(--p-default);
}

