.mri-tab-list,
[role="tablist"] {
  display: flex;
  gap: 2px;
  flex-direction: row;

  &.mri-vertical {
    flex-direction: column;
  }

  &:not(.mri-vertical) {
    & .mri-tab,
    & [role="tab"] {
      --_negative-margin: calc(var(--mri-size-padding) * -1);
      &:first-child {
        margin-left: var(--_negative-margin);
      }
      &:last-child {
        margin-right: var(--_negative-margin);
      }
    }
  }
}

/* TODO: button and a anchor variant & exception */

.mri-tab,
[role="tab"] {
  cursor: pointer;
  appearance: none;
  line-height: 1;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  border-radius: var(--mri-border-radius);
  font-size: var(--mri-size-font);
  /* color: var(--mri-color-text-1); */
  min-height: var(--mri-size-height);
  padding: 0 var(--mri-size-padding);

  transition: background-color var(--mri-duration-rest) linear;

  --_size-tab-underline: 2px;
  --_color-tab-underline-hover: var(--mri-color-text-4);
  --_color-tab-underline-active: var(--mri-color-brand-text);
  --_duration-tab-underline: 0.1s;

  position: relative;

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: var(--mri-border-radius-circular);
    inset: auto var(--mri-size-padding) 0 var(--mri-size-padding);
    height: var(--_size-tab-underline);
    transform-origin: center;
    transition: transform var(--_duration-tab-underline) ease-out, opacity var(--mri-duration-rest) linear;
  }

  &:before {
    background-color: var(--_color-tab-underline-hover);
    opacity: 0;
  }

  &:after {
    background-color: var(--_color-tab-underline-active);
    transform: scaleX(0);
  }

  .mri-vertical & {
    --_size-tab-underline-padding: calc((var(--mri-size-height) - var(--mri-size-icon)) / 2);
    
    &:not(.mri-icon-only) {
      justify-content: start;
    }

    &:after,
    &:before {
      inset: var(--_size-tab-underline-padding) auto var(--_size-tab-underline-padding) 0;
      height: auto;
      width: var(--_size-tab-underline);
    }

    &:after {
      transform: scaleY(0);
    }
  }

  &.mri-icon-only {
    padding: 0;
    width: var(--mri-size-height);
    height: var(--mri-size-height);
  }

  &:hover {
    transition-duration: var(--mri-duration-hover);

    .mri-appearance-subtle & {
      background-color: var(--mri-interactive-hover);
    }

    &:before {
      opacity: 1;
    }
  }

  /* pressed */
  &:active {
    transition-duration: var(--mri-duration-hover);

    .mri-appearance-subtle & {
      background-color: var(--mri-interactive-pressed);
    }
  }

  /* disabled */
  &:disabled,
  &.mri-disabled,
  &:has(input[type="radio"]:disabled) {
    cursor: not-allowed;

    &:hover {
      .mri-appearance-subtle & {
        background-color: unset;
      }

      &:before {
        opacity: 0;
      }
    }
  }

  /* selected tab */
  &.mri-active,
  &[aria-selected="true"],
  &:has(input[type="radio"]:checked) {
    font-weight: var(--mri-font-weight-bold);
    color: var(--mri-color-text-1);

    .mri-appearance-subtle & {
      background-color: var(--mri-color-background-2);
    }

    &:after {
      transform: scale(1);
    }
  }

  &:has(input[type="radio"]:disabled) {
    cursor: not-allowed;
    opacity: var(--mri-opacity-disabled);
  }
}

a.mri-tab {
  text-decoration: none;
  color: inherit;
}

button.mri-tab {
  background: none;
  border: none;
}
