* {
  /* for button, input and other things that don't inherit by default */
  font-family: inherit;
}

html,
body {
  font-family: var(--mri-font-family-sans);
  color: var(--mri-color-text-2);
  font-size: var(--mri-font-size-5);
  /* line-height: normal; */

  /* maybe? */
  /* font-size: var(--mri-size-font); */
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
th {
  font-weight: var(--mri-font-weight-bold);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
em,
th,
summary {
  color: var(--mri-color-text-1);
}

i,
em {
  font-style: italic;
}

/* h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0.3em 0;
} */

h1 {
  font-size: var(--mri-font-size-1);
}

h2 {
  font-size: var(--mri-font-size-2);
}

h3 {
  font-size: var(--mri-font-size-3);
}

h4 {
  font-size: var(--mri-font-size-4);
}

h5 {
  font-size: var(--mri-font-size-5);
}

h6,
small {
  font-size: var(--mri-font-size-6);
}

blockquote {
  border-left: 2px solid var(--mri-color-border-1);
  margin: 0;
  padding-left: 8px;
  color: var(--mri-color-text-1);
  font-style: italic;
}
q {
  font-style: italic;
  color: var(--mri-color-text-1);
}

ul,
ol {
  padding-left: 16px;
}

code,
kbd,
pre,
samp,
tt {
  font-family: var(--mri-font-family-mono);
  font-size: var(--mri-font-family-mono-scale);
}

kbd {
  padding: 2px 4px;
  border-radius: 3px;
  background-color: var(--mri-color-background-2);
}

pre {
  background-color: var(--mri-color-background-2);
  padding: 16px;
  border-radius: var(--mri-border-radius-medium);
  overflow-x: auto;
}

hr {
  border: none;
  border-top: 1px solid var(--mri-color-border-1);
  margin: 20px 0;
}
