* {
  /* for button, input and other things that don't inherit by default */
  font-family: inherit;
}

html,
body {
  font-family: var(--font-sans);
  color: var(--color-body);
  font-size: var(--text-default);
  /* line-height: normal; */
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
th {
  font-weight: var(--font-heavyweight);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
em,
th,
summary {
  color: var(--color-heading);
}

i,
em {
  font-style: italic;
}

/* h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0.3em 0;
} */

h1 {
  font-size: var(--text-4xl);
}

h2 {
  font-size: var(--text-3xl);
}

h3 {
  font-size: var(--text-xl);
}

h4 {
  font-size: var(--text-base);
}

h5 {
  font-size: var(--text-sm);
}

h6,
small {
  font-size: var(--text-xs);
}

blockquote {
  border-left: 2px solid var(--color-border);
  margin: 0;
  padding-left: 8px;
  color: var(--color-heading);
  font-style: italic;
}
q {
  font-style: italic;
  color: var(--color-heading);
}

ul,
ol {
  padding-left: var(--p-default);
}

code,
kbd,
pre,
samp,
tt {
  font-family: var(--font-mono);
  /* font-size: var(--font-mono-scale); */
}

kbd {
  padding: 2px 4px;
  border-radius: 3px;
  background-color: var(--color-selected);
}

pre {
  background-color: var(--color-selected);
  padding: var(--p-default);
  border-radius: var(--radius-md);
  overflow-x: auto;
}

hr {
  border: none;
  border-top: 1px solid var(--color-border);
  margin: 20px 0;
}

mark, ::selection {
  background-color: oklch(from var(--color-brand) l c h / 0.3);
  color: var(--color-heading);
  border-radius: 2px;
}
