@theme {
  /* https://fluent2.microsoft.design/shapes#corner-radius-tokens ; */
  /* https://tailwindcss.com/docs/border-radius ; */

  --radius-xs: 1px;
  --radius-sm: 2px;
  --radius-md: 4px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 24px;
  --radius-4xl: 32px;

  --rounded-default: var(--radius-md);

  --spacing: 4px;

  /* .size-md */
  --h-default: calc(var(--spacing) * 8);
  --text-default: var(--text-base);
  --p-default: calc(var(--spacing) * 3);
  --h-icon: calc(var(--spacing) * 4);
}

.size-sm {
  --h-default: calc(var(--spacing) * 6);
  --text-default: var(--text-sm);
  --p-default: calc(var(--spacing) * 2);
  --h-icon: calc(var(--spacing) * 3);

  font-size: var(--text-default);
}
.size-lg {
  --h-default: calc(var(--spacing) * 10);
  --text-default: var(--text-lg);
  --p-default: calc(var(--spacing) * 4);
  --h-icon: calc(var(--spacing) * 5);

  font-size: var(--text-default);
}
/* .size-md { Default @theme } */
